/*Main loading screen style id*/
#loadingscreen{
    background-color: white;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 9999;
    display: block;
}

/*Loading screen items like h1 and others*/
#loadingscreen > h1{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    text-align: center;
    z-index: 10000;
    color: black;
    font-weight: bold;
}

#loadingscreenimg{
    position: absolute;
    left: 25%;
    width: 50%;
    z-index: 9999;
    opacity: 0.3;
}

.progress-bar{
    background-color: #19bebe !important;
}